<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
  </div>
</div>

<!-- 
<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center bg-gradient-primary">
      <h2>Registration</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Please fill in your details</h5>

      <label for="basic-url">User</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="form-group">
        <label for="exampleDropdownFormEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword1">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
      </div>

      <label for="basic-url">Register as</label>
      <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
        <label class="btn btn-outline-primary w-50">
          <input type="radio" name="options" id="option1" autocomplete="off"> Dog Owner
          </label>
        <label class="btn btn-outline-primary w-50">
          <input type="radio" name="options" id="option2" autocomplete="off"> Dog Walker
        </label>
      </div>

    </div>
    <div class="card-footer text-muted container">
      <input class="btn btn-primary btn-block w-50 btn-lg mx-auto disabled" type="submit" value="Submit">
    </div>
  </div>
</div> -->