<div class="card w-100 mh-200">

  <div class="row ">

    <!-- Name -->
    <div class="col w-25">
      <h2 class="card-title text-center bg-secondary">Rufus</h2>
      <img class="w-100 bg-info" src="/assets/Dog.svg">
    </div>

    <!-- Description -->
    <div class="col-5 bg-dark">

      <h4 class="bg-primary py-3 text-center">Labrador</h4>
      
      <div class="d-block">
        <div class="badge mx-1 p-1 badge-primary">Primary</div>
        <div class="badge mx-1 p-1 badge-secondary">Secondary</div>
        <div class="badge mx-1 p-1 badge-success">Success</div>
        <div class="badge mx-1 p-1 badge-danger">Danger</div>
        <div class="badge mx-1 p-1 badge-warning">Warning</div>
        <div class="badge mx-1 p-1 badge-info">Info</div>
        <div class="badge mx-1 p-1 badge-light">Light</div>
        <div class="badge mx-1 p-1 badge-dark">Dark</div>
        <div class="badge mx-1 p-1 badge-secondary">Secondary</div>
        <div class="badge mx-1 p-1 badge-success">Success</div>
        <div class="badge mx-1 p-1 badge-danger">Danger</div>
        <div class="badge mx-1 p-1 badge-warning">Warning</div>
        <div class="badge mx-1 p-1 badge-info">Info</div>
        <div class="badge mx-1 p-1 badge-light">Light</div>
        <div class="badge mx-1 p-1 badge-dark">Dark</div>
      </div>

      <blockquote class="bg-primary blockquote py-3">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
    </div>

    <!-- Admin -->
    <div class="col w-25">
      <p class="lead">Times:</p>
      
      <p class="lead">Distance:</p>

      
      <p class="lead">Rating:</p>
      <button class="btn btn-lg btn-primary bottom-3 w-50">Walk</button>
    </div>
  </div>
  <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div> -->
</div>
